*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  padding: 133px 30px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
}

input {
  color: inherit;
  font-family: inherit;
}

.button {
  border: 1px solid #fff;
  color: inherit;
  font-family: "Fira Sans Condensed";
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.button:focus {
  outline: 0;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background: #545050;
}

/* Стили для content */

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  inline-size: 1140px;
}

/* Стили для result */

.result__video-container {
  position: relative;
  margin-bottom: 16px;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

/* Общие стили для search-from */

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  display: inline-block;
  inline-size: fit-content;
}

/* Стили для search-from поле ввода*/

.search-form__textfield {
  border: 1px solid #fff;
  border-right: none;
  border-left: none;
  padding: 1.5px 10px 1.5px 1px;
  font-size: inherit;
  background-color: transparent;
  inline-size: 225px;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  word-spacing: -1px;
}

.search-form__textfield:hover {
  caret-color: #fff;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
  outline-offset: 0;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Стили для search-from checkbox */

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  width: fit-content;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  border: 1px solid #fff;
  vertical-align: middle;
  background-color: transparent;
  inline-size: 18px;
  block-size: 18px;
}

.search-form__checkbox:checked + span {
  margin-right: 2px;
  margin-left: 1px;
  border: 1px solid transparent;
  outline: 1px solid #fff;
  outline-offset: 1px;
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;
}

.search-form__label:has(.search-form__checkbox):hover {
  cursor: pointer;
}

.search-form__pseudo-checkbox + span:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.search-form__checkbox:focus {
  outline: none;
}

/* Стили для search-form button*/

.search-form__submit-button {
  align-self: flex-end;
  padding: 5px 73.5px;
}

/* Стили для content-details */

.content__details {
  inline-size: 100%;
  block-size: 100%;
}

.title {
  margin-bottom: 19px;
  color: #fff;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 0.96;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

/* Стили для темплейтов */

.content__list {
  position: relative;
  padding: 0 2px;
  overflow-x: hidden;
  overflow-y: auto;
  block-size: 298px;
}

.content__list-item {
  margin-bottom: 34px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: inherit;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  margin-bottom: 6px;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 0.9;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
  block-size: 103px;
  inline-size: 194px;
}

/* Стили для кнопки в content__list */

.more-button {
  padding: 5px 144.5px;
  white-space: nowrap;
}
