*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  padding: 133px 30px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

input {
  color: inherit;
  font-family: inherit;
}

.button {
  border: 1px solid #fff;
  color: inherit;
  font-family: "Fira Sans Condensed";
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

/* Стили для content */

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  inline-size: 1140px;
}

/* Стили для result */

.result {

}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
}

.result__video-container video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

/* Стили для search-from */

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;

/*   block-size: 54px; */
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
}

/* Стили для search-from поле ввода*/

.search-form__label {
  display: inline-block;
  inline-size: fit-content;
}

.search-form__label input[type='text']{
  border: 1px solid #fff;
  border-right: none;
  border-left: none;
  padding: 1.5px 10px 1.5px 1px;
  background-color: transparent;
  inline-size: 225px;
  font-size: 18px;
  appearance: none;
}

.search-form__label input[type='text']::placeholder{
  color: rgb(255 255 255 / 0.70);
  word-spacing: -1px;
}

.search-form__label input:active {
}

/* Стили для search-from checkbox */

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  width: fit-content;
}

.search-form__pseudo-checkbox{
  display: inline-block;
  inline-size: 19px;
  block-size: 19px;
  background-color: transparent;
  border: 1px solid #FFF;
  vertical-align: middle;
}


/* Стили для search-form button*/

.search-form__submit-button{
  padding: 6px 73.5px;
  align-self: flex-end;
}


/* Стили для content-details */

.content__details {
  inline-size: 100%;
  block-size: 100%;
}

.title {
  margin-bottom: 26px;
  color: #fff;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;  
  overflow: auto;
  /* inline-size: 399px; */
  block-size: 298px; 
  padding: 2px;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  block-size: 103px;
  inline-size: 194px;
  flex-shrink: 0;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  margin-bottom: 6px;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 0.9;
}

.content__card-link {
  color: inherit;
  text-decoration: none;
}



/* Стили для кнопки в content__list */

.more-button{
  padding: 4px 144.5px;
  text-wrap: nowrap;
}